<input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" (click)="onSortOrder('title')">Title</th>
      <th scope="col" (click)="onSortOrder('price')">Price</th>
      <th scope="col" *ngIf="authService.isLoggedIn">Buy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books | filter: search | sort: columnName: sortOrder; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="book.image" alt="" width="50">
        <a [routerLink]="['/books', book.isbn13]">{{ book.title }}</a>
        <small class="text-muted subtitle">{{ book.subtitle }}</small>
      </td>
      <td class="price">{{ book.price === '$0.00' ? 'Free' : book.price }}</td>
      <td *ngIf="authService.isLoggedIn">
        <button type="button" class="btn btn-success" *ngIf="!this.cartService.books.includes(book)" (click)="addToCart(book)">+</button>
        <button type="button" class="btn btn-secondary" *ngIf="this.cartService.books.includes(book)" (click)="removeFromCart(book)">-</button>
      </td>
    </tr>
  </tbody>
</table>
