input {
  margin: 0.7rem 0;
  width: 25%;
}

table {
  vertical-align: middle;

  thead {
    cursor: pointer;
  }

  .subtitle {
    padding-left: .5rem;
  }

  .price {
    color: #b2395b;
    font-weight: bold;
  }

  .btn {
    width: 36px;
  }
}
