$text-color: #212529;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 0 2rem;
  background-color: #134b72;

  .title {
    color: #fff;
  }

  .btn {
    width: 6rem;
    font-weight: bold;
    color: $text-color;
  }
}

a {
  color: $text-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

table {
  thead {
    cursor: pointer;
  }

  .subtitle {
    padding-left: .5rem;
  }

  .price {
    color: #b2395b;
    font-weight: bold;
  }

  .btn {
    width: 36px;
  }
}
