<div class="empty-cart" *ngIf="this.cartService.books.length === 0 else noEmpty">
  <h2>Shopping Cart is Empty</h2>
</div>

<ng-template #noEmpty>
  <div class="no-empty-cart">
    <h2>{{ this.cartService.books.length }} books in the Shopping Cart</h2>
    <ul class="list-group" *ngFor="let book of this.cartService.books">
      <li class="list-group-item">
        {{ book.title }}
        <button type="button" class="btn btn-secondary" (click)="removeFromCart(book)">-</button>
      </li>
    </ul>
  </div>
</ng-template>
