<div class="modal-header">
  <h4 class="modal-title">Cart</h4>
</div>
<div class="modal-body">
  <p class="empty" *ngIf="shoppingCart.length === 0">Shopping Cart is Empty</p>
  <ul class="list-group" *ngFor="let book of shoppingCart">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{ book }}
      <button type="button" class="btn btn-secondary" (click)="removeBookFromCart(book)">-</button>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="close()">Close</button>
</div>
