.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.no-empty-cart {
  h2 {
    margin: 2rem 0;
  }

  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      width: 36px;
    }
  }
}
